.shop-Container{
    display: flex;
    margin-top: 10px;
}
.product-Container{
    width: 75%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}
.cart-Container{
    width: 25%;
}